#loader {
  width: 600px;
  margin: 0 auto;
  position: relative;
  border: 1px inset rgba(255,500,500,0.1);
  border-radius: 3px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
}

  #loader span {
    z-index: 2;
    position: relative;
    color: #ddd;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    font-size: 18px;
  }

  #loader .loader-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: 1;
    background: #00ccee;
    background: -webkit-linear-gradient(top, #00ccee 0%, #00aacc 100%);
       background: -moz-linear-gradient(top, #00ccee 0%, #00aacc 100%);
            background: linear-gradient(top, #00ccee 0%, #00aacc 100%);

    -webkit-transition: width 0.8s ease-out;
       -moz-transition: width 0.8s ease-out;
            transition: width 0.8s ease-out;
  }
