/*

  Additional HTML element styling beyond normalization/reset

*/

html {
  background: -webkit-linear-gradient(bottom, #15181b 0%, #1d1f23 100%) no-repeat fixed;
  background:    -moz-linear-gradient(bottom, #15181b 0%, #1d1f23 100%) no-repeat fixed;
  background:         linear-gradient(bottom, #15181b 0%, #1d1f23 100%) no-repeat fixed;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-user-select: none;
}

body {
  margin: 0;
}

header {
  height: 80px;
  margin: 30px auto;
}

header h1 {
  color: #ddd;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

canvas {
  border-radius: 2px;
  height: 280px;
  width: 8px;
  -webkit-transform: translate3d(0, 0, 0);
}

button {
  outline: none;
}


/*

  UI Styling

 */

#meters {
  float: right;
  margin: 8px;
  clear: right;
}

#master {
  float: right;
  background: #23262a;
  border-radius: 3px;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.35);
  display: inline-block;
  margin: 0 26px;
  overflow: hidden;
  padding: 6px 4px 32px 4px;
  position: relative;
  width: 55px;
}

#master .track {
  height: 374px;
}

.vu {
  width: 200px;
  height: 200px;
  position: relative;
  background: url(../img/vu.png) top left no-repeat;
}

.vu:nth-child(1){
  top: -10px;
}

.vu:nth-child(2){
  top: 16px;
}

.mask {
  height: 108px;
  overflow: hidden;
  position: relative;
}

.needle {
  background: url(../img/needle.png) top left no-repeat;
  height: 51px;
  left: 54px;
  position: absolute;
  top: 64px;
  width: 48px;
  -webkit-transform-origin: 48px 51px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform-origin: 48px 51px;
  -moz-transform: rotateZ(0deg);
}

.vu-label {
  color: #111;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}

#canvas {
  border-bottom: 1px solid #333;
  display: none;
  height: 65px;
  margin: 50px auto 20px;
  width: 600px;
}

#mixer {
  background: #292c30;
  border-radius: 4px;
  box-shadow: inset 0px 2px 6px rgba(0,0,0,0.5), 0px 2px 5px rgba(220,255,255,0.15);
  display: inline-block;
  margin: 0 auto 12px;
  min-height: 412px;
  min-width: 1200px;
  padding: 16px;
  visibility: hidden;
}

.channel {
  background: #23262a;
  border-radius: 3px;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.35);
  display: inline-block;
  margin: 0 6px;
  overflow: hidden;
  padding: 6px 4px 32px 4px;
  position: relative;
  width: 55px;
}



/* buttons */
.btn {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-linear-gradient(top, hsl(214, 8%, 28%) 0%, hsl(210, 8%, 20%) 100%);
  background: -moz-linear-gradient(top, hsl(214, 8%, 28%) 0%, hsl(210, 8%, 20%) 100%);
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  color: #131519;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(200,200,240,.15);
}

.mute, .solo {
  float: left;
  width: 50%;
}

.mute {
  border-radius: 2px 0 0 2px;
}

.solo {
  border-radius: 0 2px 2px 0;
}

.afl {
  margin: 6px auto;
  width: 53px;
}

.mute.active, .solo.active, .afl.active {
  box-shadow: 0 0 2px rgba(0,0,0,0.6), inset 0 0 5px rgba(0,0,0,0.3);
  color: #0cf;
}

.pan {
  height: 30px;
  margin: 12px 0 0;
  position: relative;
  -webkit-transform: translate3d(0,0,0);
}

.panner {
  background: -webkit-radial-gradient(center, ellipse cover, hsl(214, 8%, 87%) 0%,hsl(214, 8%, 60%) 100%);
  background:    -moz-radial-gradient(center, ellipse cover, hsl(214, 8%, 87%) 0%,hsl(214, 8%, 60%) 100%);
  background:         radial-gradient(center, ellipse cover, hsl(214, 8%, 87%) 0%,hsl(214, 8%, 60%) 100%);
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0,0,0,0.85);
  cursor: pointer;
  height: 28px;
  left: 50%;
  margin-left: -14px;
  position: absolute;
  top: 0px;
  width: 28px;
}

.pan-indicator {
  background: #15181b;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
  height: 6px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: 3px;
  width: 6px;
}

.track {
  background: #15181b;
  border-radius: 2px;
  height: 280px;
  margin: 10px auto 0;
  position: relative;
  width: 8px;
}

.label {
  background: -webkit-linear-gradient(top, hsl(214, 8%, 28%) 0%, hsl(210, 8%, 20%) 100%);
     background: -moz-linear-gradient(top, hsl(214, 8%, 28%) 0%, hsl(210, 8%, 20%) 100%);
  border-radius: 0 0 3px 3px;
  bottom: 0;
  box-shadow: inset 0 0 2px hsl(214, 8%, 10%), 0 0 12px rgba(0,0,0,0.35);
  color: #131519;
  font-size: 12px;
  font-weight: normal;
  height: 22px;
  left: 0;
  line-height: 22px;
  margin: 0;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 1px rgba(200,200,240,0.15);
}

.fader {
  background-image:    -moz-linear-gradient(top, hsl(214, 8%, 59%) 0%, hsl(214, 8%, 95%) 15%, hsl(214, 8%, 71%) 35%, hsl(214, 8%, 63%) 50%, hsl(214, 8%, 71%) 65%, hsl(214, 8%, 95%) 85%, hsl(214, 8%, 59%) 100%);
  background-image: -webkit-linear-gradient(top, hsl(214, 8%, 59%) 0%, hsl(214, 8%, 95%) 15%, hsl(214, 8%, 71%) 35%, hsl(214, 8%, 63%) 50%, hsl(214, 8%, 71%) 65%, hsl(214, 8%, 95%) 85%, hsl(214, 8%, 59%) 100%);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.85);
  cursor: pointer;
  height: 60px;
  left: -13px;
  position: absolute;
  top: 200px;
  width: 35px;
  -webkit-transform: translate3d(0, 0, 0);
}

.clear {
  clear: both;
}

.instructions {
  color: #ccc;
  font-family: 'Open Sans';
  font-size: 13px;
  margin: 30px auto 0;
  text-align: center;
  width: 600px;
}

.pipe {
  color: hsl(214, 8%, 28%);
}

#controls {
  display: none;
  margin: 0 auto;
  padding: 16px 12px 8px 10px;
  width: 360px;
}

.clock {
  background-image: -webkit-linear-gradient(top, hsl(219, 69%, 16%) 0%, hsl(214, 71%, 18%) 51%, hsl(219, 69%, 16%) 52%, hsl(214, 71%, 18%) 100%);
  background-image:    -moz-linear-gradient(top, hsl(219, 69%, 16%) 0%, hsl(214, 71%, 18%) 51%, hsl(219, 69%, 16%) 52%, hsl(214, 71%, 18%) 100%);
  background-image:         linear-gradient(top, hsl(219, 69%, 16%) 0%, hsl(214, 71%, 18%) 51%, hsl(219, 69%, 16%) 52%, hsl(214, 71%, 18%) 100%);
  border-radius: 3px;
  box-shadow: inset 0px 2px 6px rgba(0,0,0,0.5);
  display: inline-block;
  height: 60px;
  margin: 0;
  width: 180px;
  -webkit-transform: translate3d(0, 0, 0);
}

/* bottom buttons */
.buttons {
  display: inline-block;
  position: relative;
  top: -26px;
}

.btn-cntrl {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2px;
  box-shadow: inset 0 -2px hsla(0, 0%, 0%, 0.1), 0 0 8px 2px hsla(0, 0%, 0%, 0.75);
  display: inline-block;
  margin-left: 6px;
}

.start {
  background-image: url("../img/single_rewind@2x.png"), -webkit-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/single_rewind@2x.png"),    -moz-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/single_rewind@2x.png"),         linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-size: 6px 9px,100%;
  margin-left: 16px;
  padding: 9px 14px;
}

.rw {
  background-image: url("../img/rewind@2x.png"), -webkit-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/rewind@2x.png"),    -moz-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/rewind@2x.png"),         linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-size: 12px 9px,100%;
  padding: 9px 14px;
}

.play {
  background-image: url("../img/pause@2x.png"), -webkit-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/pause@2x.png"),    -moz-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/pause@2x.png"),         linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-size: 14px 17px,100%;
  border-radius: 50%;
  padding: 18px;
  position: relative;
  /*top: 8px; */
}

.play.paused {
  background-image: url("../img/play@2x.png"), -webkit-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/play@2x.png"),    -moz-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/play@2x.png"),         linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-size: 14px 17px,100%;
}

.ff {
  background-image: url("../img/forward@2x.png"), -webkit-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/forward@2x.png"),    -moz-linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-image: url("../img/forward@2x.png"),         linear-gradient(top,hsl(228, 13%, 92%) 0%,hsl(240, 100%, 100%) 100%);
  background-size: 12px 9px,100%;
  padding: 9px 14px;
}

@media all and (max-width: 1200px) {
  header {
    margin: 20px 0 15px;
  }
  #mixer {
    min-width: 900px;
  }
  #meters {
    display: none;
  }
}
